<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    {{{bootstrap_css}}}
    <link href="tabla.css" rel="stylesheet">   
	<title>{{nombre_del_programa}}</title>
</head>


<body>

   {{>navigation}}

    <div class="container">     

	<h1> About page</h1> 

	<h2 class="text-info"> {{nombre_del_programa}} </h2>

    This is a sample web server using vibe-d, mustache-d and bootstrap.

    </div>

{{{bootstrap_js}}}

</html>