<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    {{{bootstrap_css}}}
        
	<title>Luca: mensaje de error</title>
</head>


<body>

   {{>navigation}}

    <div class="container">
        <h3 class="text-center pt-5 text-danger">{{mensaje}}</h3>
     </div>   

    </div>
</body>

{{{bootstrap_js}}}

</html>