<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    {{{bootstrap_css}}}
    <link href="tabla.css" rel="stylesheet">   
	<title>{{nombre_del_programa}}</title>
</head>


<body>

   {{>navigation}}

    <div class="container">     

	<h1> ¡Wellcome to the private area! 
	<h2 class="text-info"> {{nombre_del_programa}} </h2>

    </div>

{{{bootstrap_js}}}

</html>